<html  xml:lang="ru-ru" class="ru-ru">
<head xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="imagetoolbar" content="false" />

    <title>Valkyrie WoW - Classic World of Warcraft Server 1.12.1, 1.12.2</title>


    <link rel="shortcut icon" href="/shop/static/images/meta/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/shop/static/images/meta/favicon.png" type="image/png" />


    {% stylesheets filter='cssrewrite'
        '@ValkMainBundle/Resources/public/css/common.min.css'
        '@ValkMainBundle/Resources/public/css/toolkit.min.css'
        '@ValkMainBundle/Resources/public/css/responsive.min.css'
        '@ValkMainBundle/Resources/public/css/global.min.css'
        '@ValkMainBundle/Resources/public/css/product.min.css'
        '@ValkMainBundle/Resources/public/css/browse.min.css'
        '@ValkMainBundle/Resources/public/css/bootstrap.css'
        '@ValkMainBundle/Resources/public/css/valk.css'
     %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {#<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>#}


    {% block skin %}
        {% stylesheets filter='cssrewrite'
        '@ValkMainBundle/Resources/public/css/skins/lava.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}


    <script src="/shop/static/local-common/js/core.min.js?v=58-1.2.10"></script>


    <script type="text/javascript">
        //<![CDATA[
        var Core = Core || {},
                Login = Login || {};
        Core.staticUrl = '/shop/static';
        Core.sharedStaticUrl = '/shop/static/local-common';
        Core.baseUrl = '/shop/ru';
        Core.projectUrl = '/shop';
        Core.cdnUrl = 'http://media.blizzard.com';
        Core.supportUrl = 'http://eu.battle.net/support/';
        Core.secureSupportUrl = 'https://eu.battle.net/support/';
        Core.project = 'shop';
        Core.locale = 'ru-ru';
        Core.language = 'ru';
        Core.region = 'eu';
        Core.shortDateFormat = 'dd/MM/yyyy';
        Core.dateTimeFormat = 'dd/MM/yyyy HH:mm';
        Core.loggedIn = false;
        Core.userAgent = 'web';
        Login.embeddedUrl = 'https://eu.battle.net/login/login.frag';
        var Flash = Flash || {};
        Flash.videoPlayer = 'http://media.blizzard.com/global-video-player/themes/shop/video-player.swf';
        Flash.videoBase = 'http://media.blizzard.com/shop/media/videos';
        Flash.ratingImage = 'http://media.blizzard.com/global-video-player/ratings/shop/ru-ru.jpg';
        Flash.expressInstall = 'http://media.blizzard.com/global-video-player/expressInstall.swf';

        //]]>
    </script>


    <meta property="og:type" content="website" />
    <meta property="og:title" content="Магазин Battle.net" />
    <meta property="og:image" content="https://eu.battle.net/shop/static/images/logos/og-shop.png?v=58-1.2.10" />
    <meta property="og:image" content="https://eu.battle.net/shop/static/images/logos/og-blizzard.png?v=58-1.2.10" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://eu.battle.net/shop/en-gb/" />
    <meta property="og:locale" content="ru_RU" />
    <link rel="canonical" href="https://eu.battle.net/shop/en-gb/" />
    <link rel="alternate" href="https://eu.battle.net/shop/de-de/" hreflang="de-DE" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="browse-template">
<script>
    //<![CDATA[
    (function() {
        var body = document.getElementsByTagName("body")[0];
        body.className = body.className + " js-enabled";
    })();
    //]]>
</script>

<header class="header">
<div class="header-primary">
<div class="container" style="position: relative;">
<h1 class="heading-3 shop-logo">
    <a href="{{ path('valk_main_homepage') }}">
        Valkyrie WoW
        <span class="beta-tag">Classic 1.12.2</span>
    </a>
</h1>


<div  id="service">
    <ul class="service-bar">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="service-cell service-welcome">
                Welcome, {{ app.user.username }}
                |  <a href="{{ path('fos_user_security_logout') }}" tabindex="50" accesskey="2">log out</a>
            </li>
        {% else %}
            <li class="service-cell service-welcome">
                <a href="{{ path('fos_user_security_login') }}" >Log in</a> or <a href="{{ path('fos_user_registration_register') }}">Create an Account</a>
            </li>
        {% endif %}

        <li class="service-cell service-shop">
            <a href="https://us.battle.net/shop/" class="service-link" data-action="Shop">Account</a>
        </li>
        <li class="service-cell service-shop">
            <a href="https://us.battle.net/shop/" class="service-link" data-action="Shop">Armory</a>
        </li>
        <li class="service-cell service-shop">
            <a href="https://us.battle.net/shop/" class="service-link" data-action="Shop">Database</a>
        </li>
        <li class="service-cell service-account">
            <a href="https://us.battle.net/account/management/" class="service-link" tabindex="50" accesskey="3" data-action="Account">Boards</a>
        </li>


    </ul>
    <div id="warnings-wrapper">

        <noscript>
            <div id="javascript-warning" class="warning warning-red">
                <div class="warning-inner2">
                    JavaScript must be enabled to use this site.
                </div>
            </div>
        </noscript>
    </div>

</div>


</div>
</div>
<div class="navbar navbar-static-top header-secondary">
    <div class="navbar-inner">
        <div class="container">

            {% import 'ValkMainBundle:blocks:breadcrumbs/breadcrumbs.html.twig' as breadcrumbs %}

            {% block breadcrumbs %}
                {{ breadcrumbs.show() }}
            {% endblock %}


            <div class="region-status dropdown" >

                <span>set realmlist logon.valkyrie-wow.com</span>
                <span class="online-players">420 players online</span>
                <span>rev. 2406</span>

            </div>


        </div>
    </div>
</div>
</header>


<div class="container {% if is_front %}home{% else %}product-template{% endif %}">

        {% block content %}

        {% endblock %}




</div>
<script>
    //<![CDATA[
    $(function () {
        $('#hero-carousel').carousel();
        if (typeof _gaq !== 'undefined') {
            _gaq.push(['_trackPageview', '/shop/ru/']);
        }
    });
    //]]>
</script>
<footer class="footer">
    <div class="container">
        <div id="sitemap">
            <div class="column">
                <h3 class="bnet">
                    <a href="http://eu.battle.net/" tabindex="100" data-action="Battle.net Home - Battle.net Home">Battle.net</a>
                </h3>
                <ul>
                    <li><a href="http://eu.battle.net/what-is/" data-action="Battle.net Home - Что такое Battle.net?">Что такое Battle.net?</a></li>
                    <li><a href="https://eu.battle.net/shop/" data-action="Battle.net Home - Магазин">Магазин</a></li>
                    <li><a href="https://eu.battle.net/account/management/" data-action="Battle.net Home - Учетная запись">Учетная запись</a></li>
                    <li><a href="http://eu.battle.net/support/" data-action="Battle.net Home - Поддержка">Поддержка</a></li>
                    <li><a href="http://eu.battle.net/realid/" data-action="Battle.net Home - «Настоящее имя»">«Настоящее имя»</a></li>
                    <li><a href="http://eu.battle.net/battletag/" data-action="Battle.net Home - BattleTag">BattleTag</a></li>
                </ul>
            </div>
            <div class="column">
                <h3 class="games">
                    <a href="http://eu.battle.net/" tabindex="100" data-action="Games - Games">Игры</a>
                </h3>
                <ul>
                    <li><a href="http://eu.battle.net/sc2/" data-action="Games - StarCraft® II">StarCraft® II</a></li>
                    <li><a href="http://eu.battle.net/wow/" data-action="Games - World of Warcraft®">World of Warcraft®</a></li>
                    <li><a href="http://eu.battle.net/d3/" data-action="Games - Diablo® III">Diablo® III</a></li>
                    <li><a href="http://eu.battle.net/hearthstone/" data-action="Games - Hearthstone™">Hearthstone™</a></li>
                    <li><a href="http://eu.battle.net/games/classic" data-action="Games - Классические игры">Классические игры</a></li>
                    <li><a href="https://eu.battle.net/account/download/" data-action="Games - Загрузка клиента игры">Загрузка клиента игры</a></li>
                </ul>
            </div>
            <div class="column">
                <h3 class="account">
                    <a href="https://eu.battle.net/account/management/" tabindex="100">Учетная запись</a>
                </h3>
                <ul>
                    <li><a href="https://eu.battle.net/account/support/login-support.html" data-action="Account - Не можете войти в систему?">Не можете войти в систему?</a></li>
                    <li><a href="https://eu.battle.net/account/creation/tos.html" data-action="Account - Создать учетную запись">Создать учетную запись</a></li>
                    <li><a href="https://eu.battle.net/account/management/" data-action="Account - Управление записью">Управление записью</a></li>
                    <li><a href="https://eu.battle.net/account/management/authenticator.html" data-action="Account - Безопасность учетной записи">Безопасность учетной записи</a></li>
                    <li><a href="https://eu.battle.net/account/management/redemption/redeem.html" data-action="Account - Использовать код">Использовать код</a></li>
                </ul>
            </div>
            <div class="column">
                <h3 class="support">
                    <a href="http://eu.battle.net/support/" tabindex="100" data-action="Support - Support">Поддержка</a>
                </h3>
                <ul>
                    <li><a href="http://eu.battle.net/support/" data-action="Support - Сайт поддержки">Сайт поддержки</a></li>
                    <li><a href="https://eu.battle.net/account/parental-controls/index.html" data-action="Support - Родительский контроль">Родительский контроль</a></li>
                    <li><a href="http://eu.battle.net/security/" data-action="Support - Защита учетной записи">Защита учетной записи</a></li>
                    <li><a href="http://eu.battle.net/security/help" data-action="Support - Помогите, мою запись взломали!">Помогите, мою запись взломали!</a></li>
                </ul>
            </div>
            <div class="column">
                <h3 class="jobs">
                    <a href="http://jobs.blizzard.com/?utm_campaign=Blizzard_Jobs&amp;utm_source=Battle_net&amp;utm_medium=Footer">Работа в Blizzard</a>
                </h3>
                <ul>
                    <li><a href="http://blizzard.com/company/careers/directory.html" data-action="Jobs - Искать вакансию">Искать вакансию</a></li>
                    <li><a href="https://blizzard.taleo.net/careersection/2/profile.ftl" data-action="Jobs - Профиль кандидата">Профиль кандидата</a></li>
                    <li><a href="http://blizzard.com/company/careers/university.html" data-action="Jobs - Университетские программы">Университетские программы</a></li>
                    <li><a href="http://blizzard.com/company/careers/form/support.html" data-action="Jobs - Служба поддержки сайта">Служба поддержки сайта</a></li>
                    <li><a href="http://blizzard.com/company/careers/faq.html" data-action="Jobs - Вопросы и ответы">Вопросы и ответы</a></li>
                </ul>
            </div>
            <span class="clear"><!-- --></span>
        </div>
        <div class="lower-footer-wrapper">
            <div class="lower-footer">
                <div id="copyright">
                    <a href="javascript:;" tabindex="100" id="change-language">
                        <span>Европа - Русский</span>
                    </a>
<span class="legal-links">
<a onclick="return Core.open(this);" href="http://eu.blizzard.com/company/about/termsofuse.html" tabindex="100" data-action="Footer - Terms of Use">Пользовательское соглашение</a>
<a onclick="return Core.open(this);" href="http://eu.blizzard.com/company/legal/" tabindex="100" data-action="Footer - Legal">Соглашения</a>
<a onclick="return Core.open(this);" href="http://eu.blizzard.com/company/about/privacy.html" tabindex="100" data-action="Footer - Privacy Policy">Политика конфиденциальности</a>
<a onclick="return Core.open(this);" href="http://eu.blizzard.com/company/about/infringementnotice.html" tabindex="100" data-action="Footer - Copyright Infringement">Авторское право</a>
<a target="_blank" href="http://eu.blizzard.com/company/about/contact.html" tabindex="100">Контакты</a>
</span>
                    © Blizzard Entertainment, 2013 г. Все права защищены.
                </div>
                <div id="international"></div>
                <div id="legal">
                    <div id="blizzard" class="png-fix">
                        <a href="http://eu.blizzard.com/" tabindex="100"><img src="/shop/static/images/logos/blizzard.png?v=58-1.2.10" alt="" /></a>
                    </div>
                    <span class="clear"><!-- --></span>
                </div>
            </div>
            <div id="marketing-trackers">
                <div class="marketing-cover"></div>
            </div>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            $(function() {
                var category = Core.project + ' - Footer Navigation';
                Core.bindTrackEvent('#sitemap a', category);
                Core.bindTrackEvent('#copyright a[data-action]', category);
            });
            //]]>
        </script>
    </div>
</footer>
<script>
    //<![CDATA[
    if (typeof Msg === "undefined") {
        var Msg = {};
    }
    //]]>
</script>
<script>
    //<![CDATA[
    var xsToken = '';
    var supportToken = '';
    var jsonSearchHandlerUrl = '//eu.battle.net';
    var Msg = Msg || {};
    Msg.analytics = {
        account: 'UA-544112-16',
        domainName: '.battle.net',
        pageUrl: '/shop/ru/',
        eventPrefix: '',
        pagePrefix: '',
        pageSuffix: ''
    };
    Msg.support = {
        ticketNew: 'Открыт запрос № {0}.',
        ticketStatus: 'Запросу № {0} присвоен статус «{1}».',
        ticketOpen: 'Открыт',
        ticketAnswered: 'Дан ответ',
        ticketResolved: 'Разрешен',
        ticketCanceled: 'Отменен',
        ticketArchived: 'Перемещен в архив',
        ticketInfo: 'Уточнить',
        ticketAll: 'Все запросы'
    };
    Msg.ui= {
        submit: 'Отправить',
        cancel: 'Отмена',
        reset: 'Сброс',
        viewInGallery: 'Галерея',
        loading: 'Подождите, пожалуйста.',
        unexpectedError: 'Произошла ошибка.',
        fansiteFind: 'Найти на…',
        fansiteFindType: '{0}: поиск на…',
        fansiteNone: 'Нет доступных сайтов.',
        flashErrorHeader: 'Необходимо установить Adobe Flash Player.',
        flashErrorText: 'Загрузить Adobe Flash Player',
        flashErrorUrl: 'http://get.adobe.com/flashplayer/',
        save: 'Сохранить'
    };
    Msg.grammar= {
        colon: '{0}:',
        first: 'Первая стр.',
        last: 'Последняя стр.',
        ellipsis: '…'
    };
    Msg.search= {
        noResults: 'Нет результатов для отображения',
        kb: 'Поддержка',
        post: 'Форумы',
        article: 'Статьи',
        static: 'Материалы',
        wowcharacter: 'Персонаж',
        wowitem: 'Предмет',
        wowguild: 'Гильдии',
        wowarenateam: 'Команды Арены',
        url: 'Вам может быть интересно',
        friend: 'Друзья',
        product: 'Продукция',
        other: 'Другое'
    };
    //]]>
</script>
<script src="/shop/static/js/toolkit/toolkit.min.js?v=58-1.2.10"></script>
<script type="text/javascript" src="/shop/static/js/global/global.min.js?v=58-1.2.10"></script>
<script src="/shop/static/js/legal/legal.min.js?v=58-1.2.10"></script>



<div id="ajax-indicator" class="ajax-indicator"></div>
</body>
</html>